<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Contact | Sakthi Vinayaga Traders</title>
    <link rel="stylesheet" href="/css/contact.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>

    <div class="contact-wrapper">
        <span onclick="history.back()" class="back-arrow">←</span>
        <h1 class="title">Contact Us</h1>

        <div class="contact-card">

            <h2>Sakthi Vinayaga Construction & Design || Sakthi Vinayaga Traders</h2>

            <p class="address">
                1/735/414, Amman Nagar,<br>
                NH-79, Thalaivasal (Tk),<br>
                Salem Dt – 636112
            </p>

            <div class="info">
                <p><i class="fa-solid fa-phone"></i>
                    <a href="tel:9443006445">+91 94430 06445</a>
                </p>

                <p><i class="fa-solid fa-phone"></i>
                    <a href="tel:8637451267">+91 86374 51267</a>
                </p>

                <p><i class="fa-solid fa-phone"></i>
                    <a href="tel:8637451267">+91 9445408245</a>
                </p>

                <p><i class="fa-solid fa-file-invoice"></i>
                    GST: 33LSSPS1816B1ZI
                </p>
            </div>

            <a href="https://maps.app.goo.gl/jk8TUv2QoBCY7rDR7?g_st=aw" class="map-btn" target="_blank">
                <i class="fa-solid fa-location-dot"></i> View Location
            </a>

            <div class="social">
                <a href="#" class="yt"><i class="fab fa-youtube"></i></a>
                <a href="https://www.instagram.com/sv_construction_and_design?igsh=ZzgzZTgzanRmdDRr" class="ig">
                    <i class="fab fa-instagram"></i>
                </a>
                <a href="#" class="fb"><i class="fab fa-facebook-f"></i></a>

                <!-- Email 1 -->
                <a href="mailto:sakthivelpss21@gmail.com" class="mail">
                    <i class="fa-solid fa-envelope"></i>
                </a>

                <!-- Email 2 -->
                <a href="mailto:ssethulekshmi92@gmail.com" class="mail">
                    <i class="fa-solid fa-envelope"></i>
                </a>
            </div>

        </div>

    </div>

</body>

</html>