<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Sakthi Vinayaga Construction & Traders</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="icon" href="images/sv logo.jpeg" type="image/png">
</head>

<body>
    <header class="navbar">
        <div class="nav-container">

            <!-- LEFT LOGO -->
            <div class="nav-left">
                <img src="/images/sv_logo.png" class="logo">
                <span class="company">Sakthi Vinayaga Constructions & Traders</span>
            </div>

            <!-- DESKTOP MENU -->
            <nav class="nav-links">
                <a href="/construction">Construction</a>
                <a href="/traders">Traders</a>
                <a href="/contacts">Contact</a>
            </nav>

            <!-- HAMBURGER -->
            <div class="hamburger" id="menuBtn">
                <span></span>
                <span></span>
                <span></span>
            </div>

        </div>
    </header>

    <!-- SLIDE MENU -->
    <div class="side-menu" id="sideMenu">
        <a href="/construction">Construction</a>
        <a href="/traders">Traders</a>
        <a href="/contacts">Contact</a>
    </div>
    <section class="slider">

        <div class="slides" id="slides">

            <div class="slide">
                <img src="/images/ofi.jpeg">
                <span class="caption">Our Offiice In Thalaivasal</span>
            </div>

            <div class="slide">
                <img src="/images/co.jpeg">
                <span class="caption">Mr. Sakthivel(Owner of the company)</span>
            </div>

            <div class="slide">
                <img src="/images/co1.jpeg">
                <span class="caption">Family</span>
            </div>

            <div class="slide">
                <img src="/images/c-p1.jpeg">
                <span class="caption">Salem</span>
            </div>

            <div class="slide">
                <img src="/images/c-p2.jpeg">
                <span class="caption">Salem</span>
            </div>

        </div>

    </section>

    <section class="location">

        <h2>Our Construction Projects</h2>
        <p class="subtitle">
            Choose from the best locations in your desired city from the best builder in Tamil Nadu
        </p>

        <div class="card-wrapper">

            <!-- CARD -->
            <div class="card">
                <img src="/images/c-p5.jpeg">
                <div class="overlay"></div>

                <div class="content">
                    <h3>kachirapalayam</h3>
                    <p>29 Projects in kachirapalayam</p>
                    <a href="/construction">Explore More</a>
                </div>
            </div>

            <!-- CARD -->
            <div class="card">
                <img src="/images/c-p6.jpeg">
                <div class="overlay"></div>

                <div class="content">
                    <h3>Chinnasalem</h3>
                    <p>25 Projects in Chinnasalem</p>
                    <a href="/construction">Explore More</a>
                </div>
            </div>

            <!-- CARD -->
            <div class="card">
                <img src="/images/c-p7.jpeg">
                <div class="overlay"></div>

                <div class="content">
                    <h3>Unathur</h3>
                    <p>5 Projects in Unathur</p>
                    <a href="/construction">Explore More</a>
                </div>
            </div>

        </div>

    </section>

    <section class="section dark">
        <div class="container">
            <h2>Our Core Services</h2>
            <div class="grid-3">
                <div class="box">Building Construction</div>
                <div class="box">Interior & Exterior Design</div>
                <div class="box">Building Estimation</div>
                <div class="box">Vasthu Planning</div>
                <div class="box">Estimation</div>
                <div class="box">Quality Control</div>
            </div>
        </div>
    </section>

    <!-- PROJECTS -->
    <section class="section dark">
        <div class="container">
            <h2>Project Works</h2>
            <div class="grid-3">
                <img src="/images/c-p3.jpeg">
                <img src="https://housespace.in/img/sections/services/building-contruction.jpg">
                <img src="/images/c-p4.jpeg">
            </div>
        </div>
    </section>
    <section class="slider">
        <div class="slides" id="slides2">


            <div class="slide">
                <img src="/images/t-p1.jpeg">
                <span class="caption">JSW Steels</span>
            </div>

            <div class="slide">
                <img src="/images/roofing sheets.jfif">
                <span class="caption">Roofing Sheets</span>
            </div>

            <div class="slide">
                <img src="/images/ss pipes.jfif">
                <span class="caption">Stainless steels</span>
            </div>
        </div>
    </section>

    <section class="location">

        <h2>Our Trading Products</h2>
        <p class="subtitle">
            Build stronger, smarter, and better with premium construction materials from **SV Traders**.
            We supply trusted products including JSW Cement, JSW Paints, wall putty, high-grade steel, and durable
            roofing sheets.
            Choose quality materials from reliable brands — choose **SV Traders** for your next project.
        </p>

        <div class="card-wrapper">

            <!-- CARD -->
            <div class="card">
                <img src="/images/phinolex pvc.jfif">
                <div class="overlay"></div>

                <div class="content">
                    <h3>Phinolex PVC and Fittings</h3>
                    <!-- <p>29 Projects in kachirapalayam</p> -->
                    <a href="/traders">Explore More</a>
                </div>
            </div>

            <!-- CARD -->
            <div class="card">
                <img src="/images/t-p3.jpeg">
                <div class="overlay"></div>

                <div class="content">
                    <h3>JSW Cement</h3>
                    <!-- <p>25 Projects in Chinnasalem</p> -->
                    <a href="/traders">Explore More</a>
                </div>
            </div>

            <!-- CARD -->
            <div class="card">
                <img src="/images/jsw putty.jfif"">
                <div class=" overlay">
            </div>

            <div class="content">
                <h3>JSW Putty</h3>
                <!-- <p>5 Projects in Unathur</p> -->
                <a href="/traders">Explore More</a>
            </div>
        </div>

        </div>

    </section>

    <!-- TRADERS -->

    <section class="section dark">
        <div class="container">
            <h2>Our Core Services</h2>
            <div class="grid-3">
                <div class="box">TATA Steels</div>
                <div class="box">JSW Steels</div>
                <div class="box">JSW Cement</div>
                <div class="box">JSW Paints</div>
                <div class="box">SS & MS Pipes</div>
                <div class="box">GM Switches</div>
                <div class="box">Kundan Wires</div>
                <div class="box">Phinolex PVC and Fittings</div>
            </div>
        </div>
    </section>

    <!-- WHY US -->
    <section class="section light">
        <div class="container grid-3">
            <div class="box">✔ Trusted Brand</div>
            <div class="box">✔ Quality</div>
            <div class="box">✔ Skilled Team</div>
            <div class="box">✔ On-Time</div>
        </div>
    </section>


    <!-- CONTACT -->
    <section class="section light" id="contact">
        <div class="Ccontainer">
            <h2>Contact Us</h2>
            <p>
                📍 Amman Nagar, NH-79, Thalaivasal, Salem – 636112<br>
                📞 94430 06445 | 86374 51267<br>
                ☎️ 04282 291267
            </p>
        </div>
    </section>

    <footer>
        <div class="footer-bottom">
            <p>
                © <span id="year"></span> SV Construction and Design || SV Traders. All Rights Reserved.
                <br />
                Powered by
                <strong>CK SCRIPTS TECHNOLOGY & SOFTWARE SOLUTIONS </strong>
                <br />
                <i class="fa fa-phone"></i>
                <a class="my-contact" href="tel:+91 7603959664">+91 7603959664</a>
            </p>
        </div>
    </footer>




    <script src="/js/home.js"></script>

</body>

</html>