/* ===============================
   GOOGLE FONT
================================ */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/* ===============================
   RESET
================================ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family:Segoe UI, sans-serif; */
}

body {
 background:#f1f5f9;
  color: #333;
}
.page-header {
  position: sticky;
  top: 0;
  z-index: 10;
      background:linear-gradient(90deg,#d67f38,#1e293b);
    color:white;
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 15px 20px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.06);
}

.page-header h1 {
  font-size: 22px;
  font-weight: 600;
}

.back-arrow {
  font-size: 22px;
  cursor: pointer;
  padding: 6px 10px;
  border-radius: 8px;
  transition: background 0.3s;
}

.back-arrow:hover {
  background: #f0f0f0;
}
.brand-slider {
  width: 100%;
  overflow: hidden;
  background: linear-gradient(90deg,#0f172a,#1e293b);
  padding: 15px 0;
}

.brand-track {
  display: flex;
  width: max-content;
  animation: scroll 20s linear infinite;
}

.brand {
  display: flex;
  align-items: center;
  gap: 2px;
  margin: 0 40px;
  padding: 10px 20px;
  background: white;
  border-radius: 40px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.15);
  transition: 0.3s;
}

.brand:hover {
  transform: scale(1.08);
}

.brand img {
  height: 40px;
  object-fit: contain;
}

.brand span {
  font-weight: 600;
  /* font-family: 'Poppins', sans-serif; */
  color: #111;
}

@keyframes scroll {
  from { transform: translateX(0); }
  to   { transform: translateX(-50%); }
}


/* HEADER */
header{
    text-align:center;
    padding:30px 20px;
    background:linear-gradient(90deg,#0f172a,#1e293b);
    color:white;
}

header h1{
    font-size:32px;
}

header p{
    margin-top:8px;
    opacity:.8;
}


/* SECTION */
.section{
    padding:40px 8%;
}

.section h2{
    margin-bottom:25px;
    color:#0f172a;
}


/* GRID */
.grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(230px,1fr));
    gap:25px;
}


/* CARD */
.card{
    background:white;
    padding:20px;
    border-radius:18px;
    text-align:center;
    box-shadow:0 10px 25px rgba(0,0,0,.1);
    transition:.3s;
}

.card:hover{
    transform:translateY(-8px);
}

.card img{
    width:100%;
    height:140px;
    object-fit:contain;
    margin-bottom:15px;
}

.card h3{
    margin-bottom:8px;
}

.price{
    color:#16a34a;
    font-weight:600;
    margin-bottom:15px;
}


/* BUTTON */
.btn{
    display:inline-block;
    text-decoration:none;
    background:#0ea5e9;
    color:white;
    padding:10px 22px;
    border-radius:30px;
    font-size:14px;
    transition:.3s;
}

.btn:hover{
    background:#0284c7;
}


/* FOOTER */
footer{
    text-align:center;
    padding:20px;
    background:#0f172a;
    color:white;
    margin-top:40px;
} 

